/*My Edits*/
.ui.icon.input, .results {
    min-width: 100%;
}

/*TODO: don't hard code heights */
#predictionSection{
    min-height: 414px;
}

#billboardTable {
    overflow-y: scroll;
    max-height: 339px;
}

#yearDropdown {
    color: black;
}

#errorText{
    display: none;
}

#predictionText {
    visibility: hidden; /*Default to hidden as JS is too slow upon loading*/
    text-align: center;
    line-height: 150%;
}


