/*#region Colors*/
.spotifyApp{
    background-color: black;
    color: white;
}

.panel-default > .panel-heading {
    background-color: #272727;
}

.panel-title{
    color: #42DCA3;
}

#yearDropdown {
    color: black;
}
/*#endregion*/

/*#region Semantic-UI overrides*/
.ui.icon.input, .results {
    min-width: 100%;
}
/*#endregion*/
 
/*#region Layout*/
/*TODO: don't hard code heights */
#playerSection{
    display: flex;
    justify-content: center;
}

#predictionSection{
    min-height: 410px;
}

#billboardTable {
    overflow-y: scroll;
    max-height: 335px;
}
/*#endregion Layout*/

/*#region Text*/
#errorText{
    display: none;
}

#predictionText {
    visibility: hidden; /*Default to hidden as JS is too slow upon loading*/
    text-align: center;
    line-height: 150%;
}
/*#endregion Text*/



