/*#region Colors*/
html{
    background-color: black;
}

footer h4{
    color: white
}

.spotifyApp {
    background-color: black;
    color: white;
    margin-top: 20px;
}

.panel-default > .panel-heading {
    background-color: #272727;
}

.panel-title {
    color: #42DCA3;
}

#yearDropdown {
    color: black;
}
/*#endregion*/

/*#region Semantic-UI overrides*/
.ui.icon.input, .results {
    min-width: 100%;
}

.ui.inverted.sortable.table thead th.sorted, 
.ui.sortable.table thead th{
    color: #42DCA3;
}
/*#endregion*/

/*#region Layout / Text*/
/*TODO: don't hard code heights */
#playerSection {
    display: flex;
    justify-content: center;
}

#predictionSection {
    min-height: 410px;
    text-align: center;
    vertical-align: middle;
}

#searchHelp {
    position: relative;
    transform: translateY(120%);
}

#errorText {
    display: none;
}

#predictionText {
    visibility: hidden; /*Default to hidden as JS is too slow upon loading*/
    line-height: 150%;
}

#billboardTable {
    overflow-y: scroll;
    max-height: 335px;
}

#accordion li {
    /*Don't use > in selector as li isn't a direct child*/
    margin: 8px auto; /*Increase spacing btw bullet points*/
}

    #accordion li:last-child {
        margin-bottom: 25px;
    }
/*#endregion Layout / Text*/



