@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div class="row">
        <div class="col-sm-4">
                <input type="text" class="form-control" placeholder="Search for...">
            </div>
        <div class="col-sm-4">
            <button type="button" class="btn btn-default btn-md">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
            </button>
        </div>
    </div>
</body>
</html>
